// * {
//   outline: 1px solid #000;
// }

.second {
  // background-color: #111;
  background-image: url('../../../public/second_background.jpg');

  .container {
    display: flex;
    border: 0.5rem solid #000;
    background-color: #fff;

    .div_title {
      margin-bottom: 2rem;
      font-size: 2.9rem;
      text-align: left;
    }

    >div {
      flex: 1;
      padding: 3.5rem;

      &.left {
        border-right: 0.1rem solid #ddd;

        .title_box {
          margin-bottom: 5rem;

          strong {
            font-size: 2.4rem;
            font-weight: 500;
          }
        }

        .info_desc {
          display: flex;
          flex-direction: column;
          justify-content: center;
          transform: translateY(11.5%);

          .main_info {
            position: relative;
            margin-bottom: 5rem;

            &::after {
              content: '';
              position: absolute;
              bottom: -9%;
              width: 100%;
              height: 0.1rem;
              background-color: #ddd;
            }

            h5 {
              margin-bottom: 3rem;
              font-size: 2rem;
            }

            strong {
              display: block;
              margin-bottom: 1rem;
              font-size: 1.9rem;
            }

            p {
              font-size: 1.6rem;
              line-height: 1.314;
            }
          }

          .sub_info {
            display: flex;
            flex-direction: column;
            gap: 2.5rem;

            .phase {
              h5 {
                margin-bottom: 1.2rem;
                font-size: 1.9rem;
              }

              ul {
                display: flex;
                flex-wrap: wrap;
                gap: 1.5rem;

                &.icon_list {
                  >li {
                    display: flex;
                    flex-direction: column;
                    width: 10rem;

                    figure {
                      outline: 0.1rem solid #000;
                      margin-bottom: .5rem;
                      width: 100%;
                      height: 10rem;
                    }

                    span {
                      font-size: 1.5rem;
                      text-align: center;
                    }
                  }
                }

                >li {
                  font-size: 1.5rem;
                }
              }
            }
          }
        }
      }

      &.right {
        .movie {
          border: 0.1rem solid #000;
          height: 65rem;
        }
      }
    }


  }
}