@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard-dynamic-subset.css');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 10px;
}

body {
  font-family: 'Pretendard';
  color: #333;
  letter-spacing: -0.025em;
}

.bg_set {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.container {
  margin: 0 auto;
  width: 150rem;
  height: 80rem;
}

ul,
ol,
li {
  list-style-type: none;
}